version: "3.8"
services:
  test-db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: test_user
      POSTGRES_PASSWORD: test_password
      POSTGRES_DB: goldenloft_test
    ports:
      - "5433:5432"
    restart: always
